@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#2D61F6];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-heading {
    @apply text-white text-center text-4xl sm:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
  }

  .box-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }

  .bg-linear {
    background: linear-gradient(
      0deg,
      #fff5f2 -12.19%,
      #3d80e4 -12.19%,
      #92d8ff 108.77%
    );
  }
}
